alembic==1.8.0
altair==4.2.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
autograd==1.4
backcall==0.2.0
beautifulsoup4==4.11.1
bertopic==0.10.0
bleach==5.0.1
blinker==1.4
blis==0.7.8
bs4==0.0.1
cachetools==5.2.0
catalogue==2.0.7
catboost==1.0.6
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.1.0
colorlover==0.3.0
commonmark==0.9.1
country-converter==0.7.4
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
Cython==0.29.30
databricks-cli==0.17.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
docker==5.0.3
ecommercetools==0.42.3
entrypoints==0.4
executing==0.8.3
fake-useragent==0.1.11
fastjsonschema==2.15.3
filelock==3.7.1
Flask==2.1.2
fonttools==4.34.4
funcy==1.17
future==0.18.2
gapandas==1.0
gensim==4.2.0
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.9.0
google-auth-httplib2==0.1.0
google-trans-new==1.1.9
googleapis-common-protos==1.56.3
graphviz==0.20
greenlet==1.1.2
gunicorn==20.1.0
hdbscan @ file:///home/conda/feedstock_root/build_artifacts/hdbscan_1644612705578/work
htmlmin==0.1.12
httplib2==0.20.4
huggingface-hub==0.8.1
idna==3.3
ImageHash==4.2.1
imbalanced-learn==0.9.1
importlib-metadata==4.12.0
inflect==4.1.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema==4.6.2
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kiwisolver==1.4.3
kmodes==0.12.1
langcodes==3.3.0
Lifetimes==0.11.3
lightgbm==3.3.2
llvmlite==0.38.1
lxml==4.9.1
Mako==1.2.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
missingno==0.5.1
mistune==0.8.4
mlflow==1.27.0
mlxtend==0.20.0
multimethod==1.8
murmurhash==1.0.7
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.4
nltk==3.7
notebook==6.4.12
numba==0.55.2
numexpr==2.8.3
numpy==1.22.4
oauth2client==4.1.3
oauthlib==3.2.0
packaging==21.3
pandas==1.4.3
pandas-profiling==3.2.0
pandocfilters==1.5.0
parse==1.19.0
parso==0.8.3
pathy==0.6.2
patsy==0.5.2
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.9.0
preshed==3.0.6
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.2
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==2.3.10
pycausalimpact==0.1.1
pycparser==2.21
pydantic==1.8.2
pydeck==0.7.1
pyee==8.2.2
Pygments==2.12.0
PyJWT==2.4.0
pyLDAvis==3.3.1
Pympler==1.0.1
pynndescent==0.5.7
pyod==1.0.3
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==1.4.3
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
PyYAML==5.4.1
pyzmq==23.2.0
querystring-parser==1.2.4
regex==2022.7.9
requests==2.28.1
requests-html==0.10.0
rfm==1.0.9
rich==12.4.4
rsa==4.8
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1652976687386/work
scikit-plot==0.3.7
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1653073865807/work
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.96
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
soupsieve==2.3.2.post1
spacy==3.3.1
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SQLAlchemy==1.4.39
sqlparse==0.4.2
srsly==2.4.3
stack-data==0.3.0
statsmodels==0.13.2
streamlit==1.10.0
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
tenacity==8.0.1
terminado==0.15.0
textblob==0.17.1
thinc==8.0.17
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tinycss2==1.1.1
tokenizers==0.12.1
toml==0.10.2
toolz==0.11.2
torch==1.12.0
torchvision==0.13.0
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
transformers==4.20.1
typer==0.4.2
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
umap-learn==0.5.3
uritemplate==4.1.1
urllib3==1.26.10
validators==0.20.0
visions==0.7.4
w3lib==1.22.0
wasabi==0.9.1
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
websockets==10.3
Werkzeug==2.1.2
widgetsnbextension==3.6.1
word-forms==2.1.0
wordcloud==1.8.2.2
xgboost==1.6.1
yellowbrick==1.4
zipp==3.8.0
