
.st-bi.st-b4.st-bj.st-bg.st-as.st-at.st-bk.st-bl.st-bm.st-av.st-aw.st-ay.st-ax {
margin:10px;
}

.st-bj.st-bn.st-bo.st-bp.st-bq.st-br.st-az.st-b4.st-bs.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-bz.st-c0.st-c1.st-b2.st-c2 {
    background-color:transparent;

}
.st-cj.st-bo.st-bp.st-bq.st-br.st-ch.st-b2.st-c2.st-ci {
    background-color:transparent;

}

.st-bj.st-cf.st-bo.st-bp.st-bq.st-br.st-az.st-b4.st-bs.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-bz.st-c0.st-c1.st-b2.st-c2 {
    background-color:transparent;

}
.st-cg.st-bo.st-bp.st-bq.st-br.st-ch.st-b2.st-c2.st-ci {
    background-color:transparent;

}

/*For Safari*/
.st-bh.st-b4.st-bi.st-bf.st-as.st-at.st-bj.st-bk.st-bl.st-av.st-aw.st-ay.st-ax {
    margin:10px;
}

.st-bi.st-bm.st-bn.st-bo.st-bp.st-bq.st-az.st-b4.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-bz.st-c0.st-b2.st-c1 {
    background-color:transparent;
}
.st-bi.st-ce.st-bn.st-bo.st-bp.st-bq.st-az.st-b4.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-bz.st-c0.st-b2.st-c1 {
    background-color:transparent;
}
.st-ci.st-bn.st-bo.st-bp.st-bq.st-cg.st-b2.st-c1.st-ch {
    background-color:transparent;
}
.st-cf.st-bn.st-bo.st-bp.st-bq.st-cg.st-b2.st-c1.st-ch {
    background-color:transparent;

}